<footer>
    <div class="container">
        <div class="page-navigation">
            <a>
                <img [src]="loadImage('logo/logo-reverse.svg')" alt="">
            </a>
            <div class="links"> <a href="#">About me</a>
                <a href="#">Relationships</a>
                <a href="#">Requirements</a>
                <a href="#">Users</a>
                <a href="#">Sign Up</a>
            </div>
        </div>
        <div class="site-navigation">
            <div class="contact">
                <div class="email">
                    <svg-icon src="../../../files/icons/mail.svg"></svg-icon>
                    <p>work.of.future@gmail.com</p>
                </div>
                <div class="phone1">
                    <svg-icon src="../../../files/icons/phone.svg"></svg-icon>
                    <p>+38 (050) 789 24 98</p>
                </div>
                <div class="phone2">
                    <svg-icon src="../../../files/icons/cellphone.svg"></svg-icon>
                    <p>+38 (095) 556 08 45</p>
                </div>
            </div>
            <div class="links">
                <div class="text">
                    <a href="#">News</a>
                    <a href="#">Blog</a>
                    <a href="#">Partners</a>
                    <a href="#">Shop</a>
                </div>
                <div class="text">
                    <a href="#">Overview</a>
                    <a href="#">Design</a>
                    <a href="#">Code</a>
                    <a href="#">Collaborate</a>
                </div>
                <div class="text">
                    <a href="#">Tutorials</a>
                    <a href="#">Resourses</a>
                    <a href="#">Guides</a>
                    <a href="#">Exapmples</a>
                </div>
                <div class="text">
                    <a href="#">FAQ</a>
                    <a href="#">Terms</a>
                    <a href="#">Conditions</a>
                    <a href="#">Help</a>
                </div>
            </div>
        </div>
        <div class="social">
            <p>© abz.agency specially for the test task</p>
            <div class="links">
                <a href="#">
                    <img [src]="loadImage('icons/facebook.svg')" alt="">
                </a>
                <a href="#"><img [src]="loadImage('icons/linkedin.svg')" alt=""></a>
                <a href="#"><img [src]="loadImage('icons/instagram.svg')" alt=""></a>
                <a href="#"><img [src]="loadImage('icons/twitter.svg')" alt=""></a>
                <a href="#"><img [src]="loadImage('icons/pinterest.svg')" alt=""></a>
            </div>
        </div>
    </div>
</footer>