<main>
    <div class="banner">
        <div class="container">
            <div class="info">
                <h1>Test assignment for <br>Frontend Developer <br>position</h1>
                <p>We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository. Please be patient, we consider and respond to every application we meets minimum requirements. We look forward to your submission.
                    Good luck!</p>
                <button>Sign Up</button>
            </div>
        </div>
    </div>
    <div id='aboutme' class="aboutme">
        <div class="container">
            <h2>Let's get acquainted</h2>
            <div class="content">
                <img src="../../../files/imgs/man-mobile.svg" alt="">
                <div class="text">
                    <h3>I am cool frontend developer</h3>
                    <p>When real users have a slow experience on mobile, they're much less likely to find what they are looking for or purchase from you in the future. For many sites this equates to a huge missed oppotunity, especially when more then half
                        of visits are abandoned if a mobile page takes over 3 seconds to load. <br> <br> Last week, Google Search and Ads teams announced two new speed initiatives to help improve user-experience on the web.
                    </p>
                    <a href="">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="relationships" id='relationships'>
        <div class="container">
            <h2>About my relationships with <br>web-development</h2>
            <div class="techs">
                <div class="html">
                    <img src="../../../files/imgs/html.svg" alt="">
                    <h3>I'm in love with HTML</h3>
                    <p>Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.</p>
                </div>
                <div class="css">
                    <img src="../../../files/imgs/css.svg" alt="">
                    <h3>CSS is my best friend</h3>
                    <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.</p>
                </div>
                <div class="js">
                    <img src="../../../files/imgs/javascript.svg" alt="">
                    <h3>JavaScript is my passion</h3>
                    <p>JavaScript is a high-level, interpreted programming language. It is a language which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="requirements" id='requirements'>
        <div class="container">
            <h2>General requirements for the test task</h2>
            <div class="info">
                <p>Users want to find answers to their questions quickly and data shows that people really care about how quickly their pages load. The Search team announced speed would be a ranking signal for desktop searches in 2010 and as of this month
                    (July 2018), page speed will be a ranking factor for mobile searches too. <br><br> If you're a developer working on a site, now is a good time to evaluate your performance using our speed tools. Think about how performance affects
                    the user experience of your pages and consider measuring a variety of real-world user-centric performance metrics. <br><br> Are you shipping too much JavaScript? Too many images? Images and JavaScript are the most significant contributors
                    to the page weight that affect page load time based on data from HTTP Archive and the Chrome User Experience Report - our public dataset for key UX metrics as experienced by Chrome users under real-world conditions.
                </p>
                <img src="../../../files/imgs/man-laptop-v2.svg" alt="">
            </div>
        </div>
    </div>
    <app-users></app-users>
    <app-signup></app-signup>
</main>